*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}


.App {
  text-align: center;
}




.login-container{
  background-color: #474d92;
  display: inline-flex;
  flex-direction: column;
  border-radius:6px;
  border:1px solid #000000;
  padding:10px 10px 40px 10px;
  align-items: center;
  box-shadow: 0 0 4px #000000;

}
